.ant-table-tbody > tr > td {
    /* padding: 0px 0px;
    padding-left: 16px; */
    /* word-break: break-word; 
    text-overflow:ellipsis; */
}
.ant-table-tbody > tr > td:hover {
   cursor: pointer;
}