.nav {
    height: 50px;
    background: #ffffff;
    border-top: #d4d4d4 solid 2px;
    border-left: #d4d4d4 solid 1px;
    border-right: #d4d4d4 solid 1px;
}

.logo {
    height: 50px;
    width: 250px;
    float: left;
    font-size: 0;
}

img {
    vertical-align:top;
}

.logo-img {
    height: 50px;
    width: 250px;
}

.nav-lan {
    height: 50px;
    width: 550px;
    background: #ffffff;
    float: left;
    margin-left: 80px;
}

.nav-icon {
    height: 50px;
    width: 150px;
    background: #ffffff;
    float: right;
}
 
.top {
    width: 70px;
    height: 50px;
    float: right;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.top:hover{
    width: 70px;
    height: 50px;
    cursor: pointer;
    background: #cccccc;
}

.active{
    width: 70px;
    height: 50px;
    background: #cccccc;
}

.top1 {
    width: 70px;
    height: 50px;
    float: right;
}

.user {
    width: 40px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.message {
    width: 40px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.message:hover {
    cursor: pointer;
}